{{!< default}}
<section class="carousel-slick">
  <div class="carousel-slick-inner">
		{{#each config.sliderImages}}
    <div class="carousel-slick-item">
			<img src="{{cloudinaryUrl this}}" class="d-block w-100" alt="">
		</div>
		{{/each}}
  </div>
</section>
<section class="section py-4">
  <h2 class="fancy text-center">
    <span>Контактные данные</span>
  </h2>
  <div class="container">
    <div class="row">
      <div class="col-sm-4 text-center">
        <figure>
          <img src="/images/location-pointer.png" alt="">
          <figcaption>{{{config.address}}}</figcaption>
        </figure>
      </div>
    </div>
  </div>
</section>