{{# each rooms}}
<section class="container-fluid rooms-section" style="background-image: url({{cloudinaryUrl bannerImage}})">
  <div class="container">
    <h2>
      <a href="{{roomUrl slug}}">{{title}}</a>
    </h2>
    {{{description.extended}}}
    <a href="/booking" class="btn btn-primary">Забронировать</a>
  </div>
</section>
{{/each}}