@font-face {
  font-family: 'exo_2bold';
  src: url('/fonts/site/exo2-bold-webfont.woff2') format('woff2'),
       url('/fonts/site/exo2-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'exo_2regular';
  src: url('/fonts/site/exo2-regular-webfont.woff2') format('woff2'),
       url('/fonts/site/exo2-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'exo_2semi_bold';
  src: url('/fonts/site/exo2-semibold-webfont.woff2') format('woff2'),
       url('/fonts/site/exo2-semibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ubuntubold';
  src: url('/fonts/site/ubuntu-bold-webfont.woff2') format('woff2'),
       url('/fonts/site/ubuntu-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}