@import "fonts.less";

body {
  // background: #000000;
  font-size: 16px;
}
#header .logo {
  width: 100px;
}

#footer {
	margin-top: 30px;
	padding-top: 30px;
	color: #777777;
}

.gallery-image img {
    display: block;
    max-width: 100%;
    height: auto;
}

.banner.banner-home-page {
  min-height: 100vh;
  background: url('/images/banner.jpg');
  background-size: cover;
  background-position: center center;

  text-transform: uppercase;
  &, a {
    font-family: "latolight", sans-serif;
    color: #ffffff;
    .bold {
      font-family: "latobold", sans-serif;
      font-weight: bold;
    }
  }
  .main {
    padding-top: 62px;
    position: relative;
    font-size: 24px;
  }
  .offset-top {
    margin-top: 74px;
  }
}
.banner-logo {
  text-align: center;
  svg {
    max-width: 100%;
  }
}

@circle-width: 1600px;
@circle-height: 1600px;

.circle-gradient {
  transform-origin: -300px 300px;
  animation: rotate 10s linear infinite;
}

@keyframes rotate {
  100% {
	transform: rotate(360deg);
  }
}

// Contacts
.contacts {
  padding: 17px 20px 13px 27px;
  .phone {
    margin-top: 5px;
    margin-right: 10px;
  }
}

.social-links {
  list-style-type: none;
  padding: 0;
}

.social-links-item {
  display: inline-block;
  margin-right: 20px;
  transition: transform 0.5s linear;
  transform-origin: center;
  &:hover {
    transform: scale(1.5);
  }
}
// subscribe form
.subscribe-form {
  p {
    font-size: 16px;
  }
  input, .btn {
    color: #ffffff;
    background: transparent;
  }
  .btn {
    transition: background 0.4s linear;
  }
  .btn:hover {
    background: #ffffff;
    color: #000000;
  }
}

// rooms page
.rooms-section {
  min-height: 100vh;
  background-position: center center;
  background-size: cover;
}

// room page 
.carousel-inner {
  height: 100vh;
  .item {
    background-position: center center;
    background-size: cover;
    height: 100%;
  }
}