// Override Bootstrap variables in this file, e.g.
$ff-size-base: 16px;

//
// Colors
//
$dark: #0e0e11;
$blue: #04c5fc;
$red: #a70707;
$navbar-dark-hover-color: $blue;
$link-hover-color: $blue;
//
// Fonts
//
$ff-base: 'exo_2regular';
$ff-base-bold: 'exo_2bold';
$ff-base-semibold: 'exo_2semi_bold';
$ff-alt: 'ubuntubold';

//
// Buttons
//
$border-radius: 0;
$border-radius-lg: 0;
$border-radius-sm: 0;