// Override Bootstrap variables in this file, e.g.
$ff-size-base: 16px;

//
// Colors
//
$dark: #161617;

$ff-base: 'exo_2regular';
$ff-base-bold: 'exo_2bold';
$ff-base-semibold: 'exo_2semi_bold';
$ff-alt: 'ubuntubold'
